@model ICEMS_WebManagement.MachineCemsInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MachineCemsInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.machineid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.machineid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.machinename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.machinename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plantid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plantid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.globalmachineid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.globalmachineid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cemstime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cemstime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importedtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importedtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.designedload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designedload)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
