@model IEnumerable<ICEMS_WebManagement2.Point_Machine_Map>

@{
    ViewBag.Title = "Index";
}

<h2>Index Point_Machine_Map</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pointname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.machineid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minimun_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startstop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pointname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.machineid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minimun_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startstop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
