@model IEnumerable<ICEMS_WebManagement2.MachineCemsInfo>


@{
    ViewBag.Title = "Index";
}

<h2>Index MachineCemsInfo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.machineid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.machinename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plantid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.globalmachineid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cemstime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importedtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.designedload)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.machineid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.machinename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plantid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.globalmachineid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cemstime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importedtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.designedload)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
